* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

h1,
h2 {
    margin: 1em 0;
    font-size: 1.5em;
    color: #1818a2;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    margin: 0 .5em;
    line-height: 1.5em;
}

div.paragrafo {
    text-align: justify;
    font-size: .8em;
    line-height: 1.5em;
    margin: -10px 0.5em 1em;
}

form input {
    width: 95%;
}

form input,
form select {
    background-color: #ffffffd1;
    padding: 0.4em;
    border-radius: 5px;
    font-size: .9em;
    border: none;
    box-shadow: 1px 1px 5px #00000094
}

form input:focus,
form select:focus {
    background-color: white;
    outline: none;
}

main {
    max-width: 600px;
    margin-bottom: 3em;
    overflow-x: hidden;
}

form {
    color: white;
    background-color: #584BC3;
    padding: 0.7em;
    border-radius: 10px;
    margin-bottom: 1em;
}

form label {
    display: block;
    margin: .7em 0 0;
    font-weight: bold;
    font-size: 1em;
}

.btn,
.btn:focus {
    margin: 10px 0;
    padding: .4em .7em;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    background-color: #132ddb;
    box-shadow: 1px 1px 5px #00000094;
    cursor: pointer;
}

.btn:active {
    background-color: #000078;
}

input[type='radio'] {
    display: none;
}

#resultado {
    border-top: 1px solid black;
}

#resultado p,
#resultado > span {
    padding: 0;
    font-size: .9em;
}

.none {
    display: none !important;
}

.grid {
    text-align: center;
    display: grid;
}

.grid3 {
    grid-template-columns: repeat(2, 1fr)
}

.grid5 {
    grid-template-columns: .305fr repeat(4, 1fr)
}

.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

p.flex span {
    padding: .5em;
    display: inline-block;
    height: 100%;
}

.grid span {
    font-size: .95em;
    border: 1px solid black;
    padding: 0.1em;
    border-left: none;
    border-top: none;
}

.grid span:nth-child(1) {
    border-left: 1px solid;
}

p span {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.red {
    color: red;
}

.grid:nth-child(even) {
    background-color: #efefef;
}

.alert {
    background-color: #f8f894;
    border: 2px #2b2b2b solid;
    color: #2b2b2b;
    border-radius: 5px;
    padding: .8em;
    text-align: center;
    font-size: .9em;
    line-height: 1.5em;
}

footer {
    position: fixed;
    text-align: center;
    background-color: #414242;
    color: white;
    padding: 0.5em;
    bottom: 0;
    width: 100vw;
}

footer a {
    text-decoration: none;
    color: #db7a16;
}

div#resumo {
    font-size: .8em;
    line-height: 1.5em;
    padding: 0.5em 0.2em;
}

div#resumo p {
    display: block;
}

div#resumo span {
    border: none;
}

#parcelas {
    margin-top: .5em;
    font-weight: bold;
}

#parcelas div:nth-child(2) {
    display: flex;
    gap: 1em;
    margin-left: .5em;
    margin-top: -0.4em;
}

#parcelas div:nth-child(2) label {
    border-radius: 5px;
    padding: .3em .5em;
    font-size: .9em;
}

.active {
    background-color: white;
    color: #1818a2;
    transform: scale(1.12);
}


.tab {
    font-size: .9em;
    display: inline-block;
    text-align: center;
    background-color: #584bc3;
    color: white;
    padding: 0.5em .8em;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
}
.inactive {
    background-color: #d1caca;
    color: #676784;
    transform: scale(1);
}